@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', Arial, sans-serif;
}


body::-webkit-scrollbar {
  width: 2.5px;
}
body::-webkit-scrollbar-track {
  background: #e8e8e8;
}
body::-webkit-scrollbar-thumb {
  background-color: #115ba9;
}

header{
    justify-content: center;
    height: 70vh;
    text-align: center;
    background-image: url('https://th.bing.com/th/id/R.c3d5823ad39bd40da27e570b4ad449f9?rik=f2jCnOEiiyaIyw&riu=http%3a%2f%2fclipartmag.com%2fimages%2flight-blue-abstract-background-png-clipart-10.jpg&ehk=s0e3GlEDtFztv2ZkMKpDBWEgR0EuP5DyeUQZklXgQ1g%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
     align-items: center;

}

header p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav tr td{
    width: 60px;
    height: 1px;
    background-color: rgb(42, 101, 219);
    padding: 10px;
    border-radius: 15px;
    transition: all 0.7s ease;
}

nav tr td:hover{
    background-color: rgb(0, 0, 0);
    transition: all 0.7s ease;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

header img {
    border-radius: 100px;
    margin: 10px;
    filter: brightness(0.8) grayscale(0.5);
    transition: all 0.8s ease;
    rotate: 20deg;
}   

header img:hover {
    filter: brightness(1) grayscale(0) contrast(1.1);
    transform: scale(1.14);
    border-radius: 0px;
    rotate: 0deg;
    transition: all 0.8s ease;
}

#about, #skills, #projects, #contact{
    padding: 0 0 0 10px;
    height: auto;
    margin-bottom: 30px;
}
#contact{
    margin-bottom: 0;
}

#contact h2, #contact form{
    padding: 0 0 0 10px;
}
#contact button{
    width: 70px;
    border: none;
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
    font-weight: 600;
    font-family: poppins;
    background-color: white;
}
#contact, footer{
    background-color: #120f2d;
    padding: 20px 0;
    color: #fff;

}
ul {
  list-style: none;
 
}

.example-2 {
  display: flex; 
  justify-content: center; 
  padding: 30px 30px;
  gap: 2px; 
}
.example-2 .icon-content {
  margin: 0 10px; 
  position: relative; 
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: #fff; 
  padding: 6px 10px;
  border-radius: 5px; 
  opacity: 0; 
  visibility: hidden; 
  font-size: 14px;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center; 
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1; 
  visibility: visible;
  top: -50px; 
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 50px; 
  height: 50px; 
  border-radius: 20%;
  color: #000000; 
  background-color: #fff; 
  transition: all 0.3s ease-in-out; 
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%); 
}
.example-2 .icon-content a svg {
  position: relative; 
  z-index: 1; 
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white; 
}
.example-2 .icon-content a .filled {
  position: absolute; 
  top: auto; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  height: 0; 
  background-color: #000; 
  transition: all 0.3s ease-in-out; 
}
.example-2 .icon-content a:hover .filled {
  height: 100%; 
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #02c84b; 
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #000000;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient( 
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}


footer{
    text-align: center;
    margin: 0;
    padding: 0;
}